<h1>Lista de Productos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID Producto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad</th>      
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |producto| %>
      <tr>
        <td><%= producto.id %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.cantidad %></td>         
        <td><%= link_to "Mostrar el producto", producto, class:"btn btn-secondary btn-sm" %></td>
      </tr>
  <% end %>
  </tbody>
</table> 

<div>
  <%= raw pagy_bootstrap_nav(@pagy)%>
</div>

