<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">Covid Retail</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/products">Productos</a>
            <% if user_signed_in? %>                  
                <% if current_user.role == "admin" %>     
                    <a class="nav-link" href="/clients">Clientes</a> 
                <% end %>
            <% end %>   
            <a class="nav-link" href="/orders">Ordenes</a>           
          </div>
    </div>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-end me-5" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
                Hola <%= current_user.name %>
            <% else %>
                Registrarse o conectarse
            <% end %>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
              <% if user_signed_in? %>                  
                <% if current_user.role == "admin" %>                        
                  <li><%= link_to "Agregar producto", new_product_path, class:'dropdown-item' %></li>                  
                <% end %>     
                <li><%= link_to 'Editar su perfil', edit_user_registration_path, class:'dropdown-item' %></li>
                <li><%= button_to 'Cerrar sesión', destroy_user_session_path, class:'dropdown-item', method: :delete %></li>
              <% else %>
                <li><%= link_to 'Iniciar sesión', new_user_session_path, class:'dropdown-item'%></li>
                <li><%= link_to 'Registro', new_user_registration_path, class:'dropdown-item'%></li>
              <% end %>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
